<div class="header">
    <div class="header-row">
        <div class="sections">
            <div class="content">number</div>
            <div class="content">mail</div>
            <div class="content">location</div>
        </div>
        <div class="sections">
            <div class="content">usd</div>
            <div class="content">Account</div>
        </div>
    </div>
</div>
<div class="navbar-container">
    <div class="navbar-content">
        <div class="sections">
            <h2>
                ELECTRO <span>.</span>
            </h2>
        </div>
        <div class="search-box">
            <select class="input-select" name="input-parameters"
                id="input-change">
                <option value="policyNo">All Categories</option>
            </select>
            <input class="table-search" placeholder="Search Here">
        </div>
        <div class="options">
            
        </div>
    </div>
</div>